html {
    scroll-behavior: smooth;
}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.w3-half img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}

#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

/*body {
    background-image:url(https://justinkrogman.com/images/seamlessspace.PNG);
}

header {
    background-image: url(https://justinkrogman.com/images/seamlessspace.PNG);
}*/