html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}

.w3-half img{
    margin-bottom: -6px; opacity: 0.8; cursor: pointer;
    z-index: 2;
}

#main {
    margin-left: 120px;
    z-index: 2;
}

/* MEDIA CALLS */
/* Remove margins from "page content" on small screens. Add extra padding for navigation spacing. Limit video elements height.*/
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
    #header{padding-top: 25%}
    .videoplayer {height: 268px}
    .processitem {text-align: center;}
}

/* NOT CURRENTLY USED */
/*#large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}*/

/*body {
    background-image:url(https://justinkrogman.com/images/seamlessspace.PNG);
}

header {
    background-image: url(https://justinkrogman.com/images/seamlessspace.PNG);
}*/

/*body {
    background-color:rgb(38, 53, 63);
    background-image:url();
    background-blend-mode: overlay;
}*/