html {
    scroll-behavior: smooth;
}

/*body {
    background-image:url(https://justinkrogman.com/images/seamlessspace.PNG);
}

header {
    background-image: url(https://justinkrogman.com/images/seamlessspace.PNG);
}*/